.wii-button-exit{
    background-color: var(--white);
    border-radius: 50px;
    width: 88px;
    height: 40px;
    border: 2px solid var(--red);
    color: var(--red);
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wii-button-exit i{
    width: 16px;
    height: 16px;
}
.wii-button-exit:hover{
    background-color: var(--red);
    color: var(--white);
}

.wii-button-actions{
    background-color: var(--red);
    border-radius: 50px;
    width: 283px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: var(--white);
}
.wii-button-nav{
    color: var(--red);
    width: 18px;
    height: 21px;
}
.wii-button-close{
    color: var(--red);
    width: 12px;
    height: 21px;;
}
.wii-button-new{
    background-color: var(--green);
    border-radius: 3.125rem;
    border: none;
    width: 6.25rem; 
    height: 30px;
    color: var(--white);
    font-weight: bold;
    font-size: 0.75rem;
    font-family: 'Poppins';
}
.wii-button-new{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wii-button-outline{
    background-color: var(--white);
    border-radius: 3.125rem;
    border: 1px solid var(--red);
    width: 100%;
    padding: 8px 15px;
    color: var(--red);
    font-weight: bold;
    font-size: 0.75rem;
}
.wii-button-solid{
    background-color: var(--green);
    border-radius: 3.125rem;
    border: none;
    width: 100%; 
    padding: 8px 15px;
    color: var(--white);
    font-weight: bold;
    font-size: 0.75rem;
}
button.ant-dropdown-trigger{
    background-color: var(--red);
    border-radius: 3.125rem;
    border: none;
    height: 2.5rem;
    align-items: center;
    width: 100%;
    color: var(--white);
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    padding-right: 2.5rem;
    padding-left: 1.25rem;
    .wii-icon{
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        right: 0;
    }
}
button.ant-dropdown-trigger:hover{
    background-color: var(--white);
    border: 0.0625rem solid var(--red);
    color: var(--red);
    transition: all 0.1s;
    font-weight: 400;
}