<div class="wii-header">
    <div class="d-flex" (click)="collapseMenu()">
        <fa-icon [icon]="icon.nav" class="wii-icon wii-icon-primary cursor-pointer" *ngIf="collapse"></fa-icon>
        <fa-icon [icon]="icon.close" class="wii-icon wii-icon-primary cursor-pointer" *ngIf="!collapse"></fa-icon> 
    </div>
    <div>
        <img src="../../../../assets/images/wiicar.png" alt="logo" class="wii-logo">
    </div>
    <div>
        <button class="wii-button-exit">
            <fa-icon [icon]="icon.off"></fa-icon>
            Salir
        </button>
    </div>
</div>
