<div class="wii-footer">
    <div class="group-input">
        <input type="text" class="class-input" placeholder="Busqueda por coincidencia">
        <i class="fa-light fa-magnifying-glass input-icon"></i>
    </div>
    <div class="group-input">
        <button class="class-input"><p class="m-0 result">Resultados</p></button>
        <i class="fa-light fa-chevron-down input-icon-down"></i>
    </div>
    <button class="wii-button-pagination">
        1
    </button>
    <button class="wii-button-actions">
        Acciones
        <i class="fa-solid fa-caret-down"></i>
      </button>
</div>
